name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    container:
      image: python:3.11-slim

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # - name: Install system deps
      #   run: apt-get update && apt-get install -y build-essential libsdl2-dev libsndfile1

      - name: Install Python deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Lint
        run: ruff check pygamelib/src tests

      - name: Test
        run: pytest -q